.MobileSideBar {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    margin-top: 10px;
}

.msb1 {
    width: 68%;
    background-color: black;
    margin: 0 20px;
}

.msb2 {
    background-color: white;
    opacity: 0.1;
    flex: 1;
}

.acc__info {
    display: flex;
    justify-content: space-between;
}

.avatar__img {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.user_text {
    color: gray;
    font-size: small;
}