.home {
    width: 100%;
}
.home1 {
    width: 60%;
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
    /* background-color: blue; */
    align-items: center;
}

.gt {
    display: flex;
    /* flex-direction: column-reverse; */
}

.bm {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    border-top: 0.5px solid;
    border-color: gray;
    height: 5%;
    width: 100%;
    visibility: hidden;
}

.mn {
    width: 40%;
}

.sb {
    width: 15%;
}

.wgt {
    width: 15%;
}

@media only screen and (max-width: 1115px) {
    .home1 {
        margin: 0px;
        /* background-color: aqua; */
    }
    .mn {
        width: 100%;
    }
}
@media only screen and (max-width: 1001px) {
    .sb {
       width: 7rem;
       /* display: none; */
    }
}
@media only screen and (max-width: 637px) {
    /* .mn {
        width: 100%;
    } */
    .sb {
       width: 7rem;
       display: none;
    }
    .bm {
        visibility: visible;
    }
}