.widget {
    position: fixed;
    /* margin-right: 400%; */
    margin-top: 10px;
}

.wgt__input {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgb(49, 47, 47);
    width: 20rem;
    height: 40px;
    border-radius: 30px;
    padding-left: 20px;
}


.wgt_search  {
    background-color: rgb(49, 47, 47);
    border: none;
    margin-left: 10px;
    height: 1rem;
    width: 15rem;
}

.wgt_search:focus {
    outline: none;
}

.wgt__icon {
    background-color: rgb(49, 47, 47);
}

.wgt1 {
    margin-top: 50px;
    width: 342px;
    border-radius: 20px;
    /* height: 10rem; */
    background-color: rgb(49, 47, 47);
}
.wgt4 {
    /* margin-top: 50px; */
    width: 342px;
    border-radius: 20px;
    /* height: 10rem; */
    background-color: rgb(49, 47, 47);
}

.wgt2 {
    margin: 20px 20px;
}

.wgt3 {
    margin: 20px 20px;
}


@media only screen and (max-width: 1115px) {
    .widget {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 1001px) {
    .widget {
        display: none;
    }
}